<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <remove fileExtension=".jpg" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <remove fileExtension=".jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <remove fileExtension=".gif" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <remove fileExtension=".ico" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <remove fileExtension=".avif" />
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/assets/.*" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>

  <!-- The service worker's update flow depends on always fetching a fresh ngsw.json/
       ngsw-worker.js/index.html - never let the browser cache these three files. Hashed
       bundles (/*.js, /*.css) are content-addressed and should keep their default caching. -->
  <location path="ngsw.json">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="ngsw-worker.js">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
